.boxContainer{
  display: flex;
  flex-direction: row; 
}

.firstBox{
  display: flex;
  padding-top: 5px;
  padding-left: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  
}

.secondBox{
  display: flex;
  flex-direction: column;
  padding-top:  5px;
  padding-left: 5px;
  align-items: flex-end;
  justify-content: flex-end;
  
}

.secondBigBox{

}

.secondBigBoxTwo{
  padding-top: 5px;

}