.footer-container{
    background: #0a1133;
    padding: 30px 30px;
    color: #ffff
    }

.policy{
    text-decoration:none;
    color:white
}

.split{
    margin-left: 10px; 
    margin-right: 10px;
}