.header{
    background-color: #0a1133;
}
.selectKey{
  background:#0a1133 ;
  border: none;
  border-color: #0a1133;

}




  
  /* .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  } */
